{% extends 'base.html.twig' %}

{% block title %}Notre équipe - {{parent() }}{% endblock %}

{% block content %}

<h1><i>Notre équipe</i></h1>
<div class="container">
    <div class="OT-informations">
        <h2>NOTRE EQUIPE<br>COMMUNICATION</h2>
        <img class="PdP" src="public/assets/img/PANIKPA.png" alt="PdP de l'utilisateur" width="100" height="100">
        <p>Prénom Nom ; rôle</p>
        <img class="PdP" src="public/assets/img/PANIKPA.png" alt="PdP de l'utilisateur" width="100" height="100">
        <p>Prénom Nom ; rôle</p>
        <img class="PdP" src="public/assets/img/PANIKPA.png" alt="PdP de l'utilisateur" width="100" height="100">
        <p>Prénom Nom ; rôle</p>              
    </div>

    <div class="OT-informations">
        <h2>NOTRE EQUIPE<br>COMMERCIALE</h2>
        <img class="PdP" src="public/assets/img/PANIKPA.png" alt="PdP de l'utilisateur" width="100" height="100">
        <p>Prénom Nom ; rôle</p>
        <img class="PdP" src="public/assets/img/PANIKPA.png" alt="PdP de l'utilisateur" width="100" height="100">
        <p>Prénom Nom ; rôle</p>
        <img class="PdP" src="public/assets/img/PANIKPA.png" alt="PdP de l'utilisateur" width="100" height="100">
        <p>Prénom Nom ; rôle</p>
    </div>

    <div class="OT-informations">
        <h2>NOTRE EQUIPE<br>DEVELOPPEMENT</h2>
        <img class="PdP" src="public/assets/img/PANIKPA.png" alt="PdP de l'utilisateur" width="100" height="100">
        <p>Prénom Nom ; rôle</p>
        <img class="PdP" src="public/assets/img/PANIKPA.png" alt="PdP de l'utilisateur" width="100" height="100">
        <p>Prénom Nom ; rôle</p>
        <img class="PdP" src="public/assets/img/PANIKPA.png" alt="PdP de l'utilisateur" width="100" height="100">
        <p>Prénom Nom ; rôle</p>
    </div>
</div>
{% endblock %}