{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ? - {{parent() }}{% endblock %}

{% block content %}

<div class="container">
    <div class="WAW-informations">
        <h2>QUI SOMMES-NOUS ?</h2>
        <p>
            Nous sommes une plateforme dédiée à connecter les étudiants et les jeunes professionnels avec des entreprises à la recherche de talents. 
            Notre mission est de simplifier la recherche d'alternance et de stage en offrant un espace où les candidats et les recruteurs peuvent 
            se rencontrer facilement et efficacement. Depuis notre lancement, nous avons aidé des milliers d'étudiants à trouver des opportunités 
            qui correspondent à leurs aspirations professionnelles.
            <br>
            Grâce à notre expertise et à notre réseau d'entreprises partenaires, nous proposons des solutions adaptées aux besoins de chacun. 
            Que vous soyez étudiant à la recherche de votre première expérience ou une entreprise en quête de nouveaux talents, nous sommes là 
            pour vous accompagner à chaque étape du processus.
        </p>
    </div>
        
    <div class="WAW-informations">
        <h2>NOS ENGAGEMENTS</h2>
        <p>
            Nous nous engageons à offrir une plateforme fiable et intuitive pour faciliter la mise en relation entre candidats et recruteurs. 
            Notre priorité est de garantir une expérience utilisateur optimale et de promouvoir des opportunités de qualité. Nous travaillons 
            en étroite collaboration avec nos partenaires pour nous assurer que chaque offre publiée répond aux attentes des candidats.
            <br>
            En tant qu'acteur responsable, nous valorisons l'inclusion, la diversité et l'égalité des chances. Nous croyons fermement que chaque 
            à la société. Nous croyons que le succès durable repose sur des pratiques éthiques et une vision à long terme. Rejoignez-nous 
            dans notre mission de créer un avenir meilleur, ensemble.
        </p>
    </div>
</div>
{% endblock %}
