{% extends 'base.html.twig' %}

{% block title %}Offres - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <nav class="breadcrumb">
            <span><a href="/">Accueil</a></span>
            <span>Offres</span>
        </nav>

        <section class="offres-choices">
            <h1>Choisissez le type d'offre</h1>
            <div class="choices-container">
                <a href="/offres/stages" class="choice-card">
                    <div class="choice-content">
                        <h2>Stages</h2>
                        <p>Recherchez des offres de stage adaptées à votre profil.</p>
                    </div>
                    <div class="choice-icon">
                        <img src="/assets/img/graducap.svg" alt="Stage Icon"  width="48" height="48" style="opacity: 0.4;">
                    </div>
                </a>

                <a href="/offres/alternances" class="choice-card">
                    <div class="choice-content">
                        <h2>Alternance</h2>
                        <p>Découvrez des opportunités en alternance pour allier études et travail.</p>
                    </div>
                    <div class="choice-icon">
                    <br/>
                        <img src="/assets/img/contract.svg" alt="Alternance Icon"  width="48" height="48" style="opacity: 0.4;">
                    </div>
                </a>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}