<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PANIKPA{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="icon" href="/assets/img/PANIKPA.ico" type="image/x-icon">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        {% include 'partials/navbar.html.twig' %}
    </header>
    <main>
        <div class="app">
            <div class="container">
                {% block breadcrumb %}{% endblock %}
                

                
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    {% include 'partials/cookies.html.twig' %}
    {% include 'partials/footer.html.twig' %}
    
    {# Include our new notification component #}
        {% include 'partials/notifications.html.twig' with {
            'success': success|default([]),
            'error': error|default([])
        } %}
        
    <script src="/assets/js/notifications.js" defer></script>
    {% block javascripts %}
    
    {% endblock %}
</body>
</html>